body {
    margin-left: 0;
    margin-right:0;
}

nav {
    margin-left:50px;
}

.slaidid {
    margin-top: 25px;
    float: left;
    margin-left: 50px;
    padding-right:50px;
}

.slaid {
    display: none;
}

img {
    max-width: 300px;
    max-height: 350px;
    border: 5px solid;

}

.näide {
    background-image: url("kokkamine.jpg");
    background-repeat: no-repeat;
    background-size:cover
}

.konteiner {
    max-width:1000px;
    margin-left: auto;
    margin-right:auto;
    line-height: 30;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    font-size: 25px;
    text-align: center;
 }

.juhend {
    font-size: 22px;
    text-align:justify;
    font-family:'Times New Roman', Times, serif;
    padding-right:50px;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    margin-top: 10px;
    width: 700px;
    font-size: 17px;
    background-color: white;
}

.keskele {
    padding-right:100px;
    padding-left:100px;
}

