body {
    margin: 50px;
}

.rounded-box {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    font-size: 2em;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
    padding-left: 20px;
}  

.pilt {
    padding-right: 70px;
    padding-left: 20px;
    max-width: 300px;
    max-height: 350px;
    float: left;
}

.juhend {
    font-size: 22px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding-bottom:20px;
}

p {
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}



.õpetus {
    padding-bottom: 60px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    background-color:peachpuff;
}

ul {
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
    padding-left:350px;
}

li {
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
}